<!DOCTYPE html>
<html lang="en">

<head>
  <title>Archivement</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>

  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-sm-4">
        <h1>Online Toeic Test</h1>
      </div>
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <button type="button" class="btn btn-primary">Nguyen Duy Vinh</button>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <h2>Take A TOEIC Mock Test</h2>
      </div>
    </div>
    <div style="margin-top:80px"></div>
    <div class="row">
      <div class="col-sm-4">
        <h3>Date</h3>
        <h4>12/10/2020</h4>
        <h4>12/10/2020</h4>
        <h4>12/10/2020</h4>
        <h4>12/10/2020</h4>
      </div>
      <div class="col-sm-4">
        <h3>Difficulty</h3>
        <h4>Easy</h4>
        <h4>Easy</h4>
        <h4>Hard</h4>
        <h4>Hard</h4>
      </div>
      <div class="col-sm-4">
        <h3>Score</h3>
        <h4>20</h4>
        <h4>20</h4>
        <h4>20</h4>
        <h4>20</h4>
      </div>
    </div>
  </div>

</body>

</html>